.main-component {
  height: 273px;
  width: 50%;
  border: 1px solid black;
  float: left;
  margin-top: 28px;
}

.main-component__stripes {
  display: flex;
}

/*.main-component__stripes-silver {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 12.5%;
  height: 150px;
  background: silver;
  border: 1px solid black;
}*/

.main-component__stripes {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 150px;
  border: 1px solid black;
}

/*.main-component__stripes-white {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 12.5%;
  height: 150px;
  background: white;
  border: 1px solid black;
}

.main-component__stripes-red {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 12.5%;
  height: 150px;
  background: rgb(255, 99, 71) !important;
  border: 1px solid black;
}

.main-component__stripes-red {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 12.5%;
  height: 150px;
  background: rgb(255, 99, 71);
  border: 1px solid black;
}*/

.main-component__control {
  border: 1px solid black;
  text-align: center;
}

.main-component__control-add {
  width: 10%;
  height: 50px;
  background: silver;
  border: 1px solid black;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  margin: 5% 0 5% 0;
}

.main-component__control-remove {
  width: 10%;
  height: 50px;
  background: silver;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  border-radius: 15px;
  margin: 5% 3% 5% 0;
}
