.lines {
  display: flex;
  width: 40%;
  margin-left: 3%;
  float: left;
}

.preview-component {
  display: flex;
  margin-bottom: 30px;
  width: 14%;
  margin-left: 3%;
  float: left;
}

.main-component__stripes-preview {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 95px;
  border: 1px solid black;
}
